<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Birth_Registration.My.MySettings.birth_certificateConnectionString" connectionString="user id=adminBirth;server=localhost;database=birth_certificate" providerName="MySql.Data.MySqlClient"/>
        <add name="Birth_Registration.My.MySettings.Registration" connectionString="server=localhost;user id=adminBirth;password=birth;persistsecurityinfo=True;database=birth_certificate" providerName="MySql.Data.MySqlClient"/>
        <add name="Birth_Registration.My.MySettings.birth_certificateConnectionString1" connectionString="server=localhost;user id=adminBirth;password=birth;database=birth_certificate" providerName="MySql.Data.MySqlClient"/>
        <add name="Birth_Registration.My.MySettings.birth_certificateConnectionString2" connectionString="server=localhost;user id=adminBirth;password=birth;database=birth_certificate;persistsecurityinfo=True;allowbatch=True" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
